.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.body {
  background: #e5e5e5;
  font-family: Titan One, sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-style {
  text-decoration: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: #fff5f6;
}

.about__header {
  color: #d41443;
  font-size: 34px;
  text-align: center;
  font-weight: 1000;
  font-family: Titan One,cursive;
}

.about__text {
  font-size: 12px;
  margin-bottom: 44px;
  font-weight: 600;
  line-height: 1.62;
  text-align: left;
  font-family: DM Sans;
}

.about__text--mod {
  font-size: 12px;
  color: #907e82;
  margin-bottom: 16px;
  line-height: 1.62;
  text-align: left;
  font-family: DM Sans;
}

.about__link {
  color: #d41443;
  display: block;
  background-color: white;
  font-family: DM Sans;
  padding: 14px;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 45px;
  width: 176px;
  height: 44px;
}

.about__title {
  font-size: 18px;
  color: #ffa5ba;
  text-align: center;
  font-weight: 900;
  font-family: Titan One,cursive;
  margin-bottom: 16px;
}

.about__link:hover {
  background-color: #ecebeb;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about {
  background-color: #fff5f6;
  text-align: center;
  background-image: url(/images/mobile/sectionbg11-320x133.png);
  background-size: 100%;
  background-position-y: 80%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 767px) {
  .about {
    background-image: none;
  }
}

@media screen and (max-width: 767px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    margin-top: 56px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .about__title {
    font-size: 26px;
  }
  .about__header {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .about__text {
    font-size: 14px;
    width: 340px;
    line-height: 1.76;
  }
  .about__text--mod {
    font-size: 14px;
    width: 340px;
    line-height: 1.76;
  }
  .about__link {
    font-size: 16px;
    margin-top: 62px;
  }
  .about {
    padding-bottom: 146px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 30px;
  }
  .about__header {
    font-size: 58px;
  }
  .about__text {
    font-size: 16px;
    width: 463px;
    line-height: 28px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .about__text--mod {
    font-size: 16px;
    width: 463px;
    line-height: 28px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .about__wrap {
    margin-left: 74px;
  }
  .about__link {
    margin-top: 45px;
  }
  .about {
    background-image: url(/images/desktop/sectionbg11-1282x534.png);
  }
  .about {
    padding-bottom: 146px;
  }
}

.gallery {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(40%, white));
  background: linear-gradient(180deg, #fff5f6 40%, white 40%);
}

.gallery-box {
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  grid-gap: 4px;
}

@media screen and (min-width: 480px) {
  .gallery-box {
    grid-gap: 8px;
  }
}

.gallery__title {
  visibility: hidden;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item {
  margin-left: auto;
  margin-right: auto;
}

.gallery__item:focus,
.gallery__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__item--1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--5 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--7 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--8 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
}

.gallery__item--9 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 8;
}

.gallery__item--10 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 7;
}
/*# sourceMappingURL=main.css.map */