<section class="about" id="about">
    <div class="container">
        <p class="about__title">Traditions and love</p>
        <h2 class="about__header">How it's made?</h2>
        <div class="flex-container">
        <picture>
            <source srcset="./images/desktop/home-pic41-516x516.png 1x, ./images/desktop/home-pic41-516x516@2x.png 2x" media="(min-width:1200px)">
            <source srcset="./images/tablet/home-pic41-340x339.png 1x, ./images/tablet/home-pic41-340x339@2x.png 2x " media="(min-width:768px)">
            <source srcset="./images/mobile/home-pic41-280x279.png 1x, /images/mobile/home-pic41-280x279@2x.png 2x" media="(max-width:767px)" />
            <img src="/images/mobile/home-pic41-280x279.png" class="about-header__img" alt="Cow and milk">
        </picture>
        <div class="about__wrap">
        <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
        
        
        <p class="about__text--mod">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
    
            <p class="about__text--mod">Aliquam erat volutpat. Aenean accumsan.</p> 
            
            <a class="about__link link-style" href="#hero">Read more&nbsp;&nbsp;&nbsp;&nbsp;<svg class="about__icon" width="8" height="8">
           
               <use href="images/sprite.svg#strelka"></use>
            </svg></a></div>
        </div>
</div>
</section>        