<section class="section advantages">
  <div class="container">
    <h2 class="title advantages__title visually-hidden">advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item advantages__item--first">
        <span class="advantages__numeral">721</span>Aliquam ac dui vel dui vulputate consectetur.
        Mauris massa.
      </li>
      <li class="advantages__item advantages__item--second">
        <span class="advantages__numeral">16kg</span>Aliquam ac dui vel dui vulputate consectetur.
        Mauris massa.
      </li>
      <li class="advantages__item advantages__item--third">
        <span class="advantages__numeral">84</span>Aliquam ac dui vel dui vulputate consectetur.
        Mauris massa.
      </li>
    </ul>
  </div>
</section>
