<section class="customer-reviews">
    <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <img src="/images/testimonials1-80x80.png" alt="reviews1" class="reviews__img" />
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <span class="points__doth">...</span>
                        <span class="reviews__name">Emily, Los Angeles</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <img src="/images/testimonials2-80x80.png" alt="reviews1" class="reviews__img" />
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <span class="points__doth">...</span>
                        <span class="reviews__name">Natali, Kiev</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <img src="/images/testimonials3-80x80.png" alt="reviews1" class="reviews__img" />
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        <span class="points__doth">...</span>
                        <span class="reviews__name">Marta, London</span>
                    </div>
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>