<section class="reviews">
    <div class="container">

            <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <img src="/images/testimonials1-80x80.png" alt="reviews1" class="reviews__img" />
                        <div class="reviews__container-text">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        </div>

                            <svg class="reviews__icon-points" width="32" height="4">
                                <use href="/images/sprite.svg#tochki-red"></use>
                            </svg>

                        <b class="reviews__name">Emily, Los Angeles</b>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <img src="/images/testimonials2-80x80.png" alt="reviews1" class="reviews__img" />
                        <div class="reviews__container-text">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        </div>
                        
                            <svg class="reviews__icon-points" width="32" height="4">
                                <use href="/images/sprite.svg#tochki-red"></use>
                            </svg>
                        
                        <b class="reviews__name">Natali, Kiev</b>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <img src="/images/testimonials3-80x80.png" alt="reviews1" class="reviews__img" />
                        <div class="reviews__container-text">
                        <p class="reviews__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                        </div>

                            <svg class="reviews__icon-points" width="32" height="4">
                                <use href="/images/sprite.svg#tochki-red"></use>
                            </svg>
                        
                        <b class="reviews__name">Marta, London</b>
                    </div>
                </div>
                 </div>
                 <!-- Add Pagination -->
                 <div class="swiper-pagination"></div>
           </div>
            
    </div>
</section>