
<footer class="footer">
  <div class="container ">
     <h2 class="visually-hidden">Подвал</h2>
     <div class="footer__contanier">
     
   <p class="footer__title">HOMEMADE ICE CREAM MADE</p>
     <p class="footer__text">WITH PASSION</p>
    
    <ul class="footer__list list">
      <li class="footer__item">
        <a href="" class="footer__link link-style">
            <svg class="footer__icon" width="18" height="18">
            <use href="images/sprite.svg#github"></use>
           </svg>  
          </a>
       
      </li>
      <li class="footer__item"><a href="" class="footer__link link-style">
          <svg class="footer__icon" width="18" height="18">
            <use href="images/sprite.svg#telegram"></use>
           </svg>  
      </a>
    </li>
      <li class="footer__item"><a href="" class="footer__link link-style"><svg class="footer__icon" width="18" height="18">
            <use href="images/sprite.svg#facebook"></use>
           </svg> </a>
    </li>
    </ul>
<div class="footer-contact">
  <a class=" footer-contact__tel link-style" href="tel:+610383766284 "><span class="footer-contact__text">Feel free to contact</span> +61 (0) 383 766 284</a>
    </div>
    </div>
  <p class="footer__copyright">&#169 2019 - IceCream. All Rights Reserved.</p>

  </div>
</footer>
