<section class="gallery">
    <div class="container">
        <!-- <picture>
            <source srcset="./images/desktop/home-pic51-1280x430.jpg 1x, ./images/desktop/home-pic51-1280x430@2x.jpg 2x" media="(min-width:1200px)">
            <source srcset="./images/tablet/home-pic51-786x264.jpg 1x, ./images/tablet/home-pic51-786x264@2x.jpg 2x" media="(min-width:768px)">
            <source srcset="./images/mobile/home-pic51-364x122.jpg 1x, ./images/mobile/home-pic51-364x122@2x.jpg 2x" media="(max-width:767px)">
            <img src="./images/mobile/home-pic51-364x122@2x.jpg" class="gallery-list__img" alt="">
        </picture> -->

        <!-- ------------------------------------------------------- -->
        <div class="gallery-box">
<div class="gallery__item gallery__item--1">
    <picture class="gallery__img">
        <source
    srcset="images/gallery/pic1.jpg 1x,
    images/gallery/pic1@2x.jpg 2x"
     /> 
    <img src="images/gallery/pic1.jpg" alt="Image 1">
    </picture>
</div>
<div class="gallery__item gallery__item--2">
    <picture class="gallery__img">
        <source srcset="images/gallery/pic2.jpg 1x,
        images/gallery/pic2@2x.jpg 2x" />
        <img src="images/gallery/pic2.jpg" alt="Image 2">
    </picture>
</div>
<div class="gallery__item gallery__item--3">
    <picture class="gallery__img">
        <source srcset="images/gallery/pic3.jpg 1x,
        images/gallery/pic3@2x.jpg 2x" />
        <img src="images/gallery/pic3.jpg" alt="Image 3">
    </picture>
</div>
<div class="gallery__item gallery__item--4">
<picture class="gallery__img">
    <source srcset="images/gallery/pic4.jpg 1x,
    images/gallery/pic4@2x.jpg 2x" />
    <img src="images/gallery/pic4.jpg" alt="Image 4">
</picture>
</div>
<div class="gallery__item gallery__item--5">
    <picture class="gallery__img">
        <source srcset="images/gallery/pic5.jpg 1x,
        images/gallery/pic5@2x.jpg 2x" />
        <img src="images/gallery/pic5.jpg" alt="Image 5">
    </picture>
</div>
<div class="gallery__item gallery__item--6">
<picture class="gallery__img">
    <source srcset="images/gallery/pic6.jpg 1x,
    images/gallery/pic6@2x.jpg 2x" />
    <img src="images/gallery/pic6.jpg" alt="Image 6">
</picture>
</div>
<div class="gallery__item gallery__item--7">
<picture class="gallery__img">
    <source srcset="images/gallery/pic7.jpg 1x,
    images/gallery/pic7@2x.jpg 2x" />
    <img src="images/gallery/pic7.jpg" alt="Image 7">
</picture>
</div>
<div class="gallery__item gallery__item--8">
    <picture class="gallery__img">
        <source srcset="images/gallery/pic8.jpg 1x,
        images/gallery/pic8@2x.jpg 2x" />
        <img src="images/gallery/pic8.jpg" alt="Image 8">
    </picture>
</div>
<div class="gallery__item gallery__item--9">
    <picture class="gallery__img">
        <source srcset="images/gallery/pic9.jpg 1x,
        images/gallery/pic9@2x.jpg 2x" />
        <img src="images/gallery/pic9.jpg" alt="Image 9">
    </picture>
</div>
<div class="gallery__item gallery__item--10">
    <picture class="gallery__img">
    <source srcset="images/gallery/pic10.jpg 1x,
    images/gallery/pic10@2x.jpg 2x" />
    <img src="images/gallery/pic10.jpg" alt="Image 10">
</picture>
</div>

        </div>
    </div>
</section>