<header>
    <div class="container">
        <nav class="navigation">
            <a class="logo link-style" href="index.html">
                <picture>
                    <source srcset="./images/logo199x50.png 1x, ./images/logo199x50@2x.png 2x" />
                    <img src="./images/logo199x50.png" alt="icecream-logotype">
                </picture>
            </a>
            <ul class="navigation-list list">
                <li class="navigation-list__item">
                    <a href="index.html" class="navigation-list__link link-style navigation-list__link--current">Home</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">About us</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">How it's made?</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">Our products</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">Contact</a> 
                </li>
            </ul>
        </nav>
        <button class="header__menu-btn" type="button" data-menu-button>
            <svg class="menu-icon" width="20px" height="20px">
                <use href="./images/sprite.svg#Burger"></use>
            </svg>
        </button>
        <button class="header__buy-btn" type="button">
            Buy now
            <svg class="menu-icon" width="10px" height="10px">
                <use href="./images/sprite.svg#strelka"></use>
            </svg>
        </button>
    </div>

    <div class="mobile-menu" data-menu>
        <button type="button" class="mobile-menu__close-btn" data-menu-close>
            <svg class="mobile-menu__close-icon" width="19" height="19">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <button class="header__buy-btn" type="button">
            Buy now
            <svg class="menu-icon" width="10px" height="10px">
                <use href="./images/sprite.svg#strelka"></use>
            </svg>
        </button>
        <nav class="navigation">
            <ul class="navigation-list list">
                <li class="navigation-list__item">
                    <a href="index.html" class="navigation-list__link link-style navigation-list__link--current">Home</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">About us</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">How it's made?</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">Our products</a> 
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link link-style">Contact</a> 
                </li>
            </ul>
        </nav>
    </div>
</header>