<section class="hero">
  <div class="container">
    <div class="hero__mobile-wrapper">
      <h1 class="hero__title"><span class="hero__title-white">Ice cream made with</span>passion</h1>
      <ul class="hero__list list">
        <li class="hero__list-item list">
          <a class="hero__link-products link-style" href="#products">Products</a>
        </li>
        <li class="hero__list-item list">
          <a class="hero__link-about link-style" href="#made">How it's made?</a>
        </li>
      </ul>
    </div>
    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button class="hero__button-description" type="button">Тут будет стрелка</button>
    <picture class="hero__picture-milk">
      <source
        srcset="
          images/desktop/slider-pic51-188x191.png    1x,
          images/desktop/slider-pic51-188x191@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/tablet/slider-pic51-124x126.png    1x,
          images/tablet/slider-pic51-124x126@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img src="images/tablet/slider-pic51-124x126.png" alt="milk" />
    </picture>
    <picture class="hero__picture-elipce">
      <source
        srcset="
          images/desktop/ellipse-hero-538x538.png    1x,
          images/desktop/ellipse-hero-538x538@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/tablet/ellipse-hero-324x324.png    1x,
          images/tablet/ellipse-hero-324x324@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/tablet/ellipse-hero-324x324.png    1x,
          images/tablet/ellipse-hero-324x324@2x.png 2x
        "
        media="(min-width: 480px)"
      />
      <img src="images/tablet/ellipse-hero-324x324.png" alt="background-image elipce" />
    </picture>

    <picture class="hero__picture-icecream">
      <source
        srcset="
          images/desktop/slider-pic71-236x557.png    1x,
          images/desktop/slider-pic71-236x557@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/tablet/slider-pic71-143x336.png    1x,
          images/tablet/slider-pic71-143x336@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          images/mobile/slider-pic71-171x410.png    1x,
          images/mobile/slider-pic71-171x410@2x.png 2x
        "
        media="(min-width: 480px)"
      />
      <img src="images/mobile/slider-pic71-171x410.png" alt="ice-cream" />
    </picture>

    <picture class="hero__picture-girl">
      <source
        srcset="
          images/desktop/slider-pic41-293x232.png    1x,
          images/desktop/slider-pic41-293x232@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          images/tablet/slider-pic41-168x133.png    1x,
          images/tablet/slider-pic41-168x133@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img src="images/tablet/slider-pic41-168x133.png" alt="the girl with an ice-cream" />
    </picture>
  </div>
</section>
