<section class="hero">
  <div class="container">
    <h1 class="hero__title">Ice cream made with passion</h1>
    <ul class="list">
      <li><a class="link-style" href="#products">Products</a></li>
      <li><a class="link-style" href="#made">How it's made?</a></li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
    </p>
    <button type="button">Тут будет стрелка</button>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              images/desktop/slider-pic41-293x232.png    1x,
              images/desktop/slider-pic41-293x232@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/tablet/slider-pic41-168x133.png    1x,
              images/tablet/slider-pic41-168x133@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="images/desktop/slider-pic41-293x232.png" alt="девушка с мороженным" />
        </picture>
      </li>
    </ul>
  </div>
</section>
