<section class="products" id="products">
  <div class="container">
    <p class="products__slogan">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <div class="products__box">
          <h3 class="products__subtitle">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <h3 class="products__subtitle">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__box">
          <h3 class="products__subtitle">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="products__btn" type="button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
