<section class="products" id="products">
  <div class="container">
    <p class="products__slogan">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button">
          <img src="/images/arrow-right-40x40.png" width="40" height="40" alt="" />
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button">
          <img src="/images/arrow-right-40x40.png" width="40" height="40" alt="" />
        </button>
      </li>
      <li class="products__item">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button">
          <img src="/images/arrow-right-40x40.png" width="40" height="40" alt="" />
        </button>
      </li>
    </ul>
  </div>
</section>
