<section class="products" id="products">
  <div class="container">
    <p class="products__slogan">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <h3 class="products__subtitle">ice cream</h3>
        <div class="products__wrap">
          <p class="products__more" data-more-1>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugiat numquam
            repudiandae ex vero, nulla cupiditate eveniet delectus omnis ab esse inventore ratione
            similique perferendis eum ea consequatur vel! Deserunt sit doloremque quasi officiis
            magnam repellat laudantium tenetur voluptatum voluptatem!
          </p>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__btn" type="button" data-more-button-1>
            <img src="/images/arrow-right-40x40.png" width="40" height="40" alt="" />
          </button>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__subtitle">ice coffee</h3>
        <div class="products__wrap">
          <p class="products__more" data-more-2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugiat numquam
            repudiandae ex vero, nulla cupiditate eveniet delectus omnis ab esse inventore ratione
            similique perferendis eum ea consequatur vel! Deserunt sit doloremque quasi officiis
            magnam repellat laudantium tenetur voluptatum voluptatem!
          </p>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>

          <button class="products__btn" type="button" data-more-button-2>
            <img src="/images/arrow-right-40x40.png" width="40" height="40" alt="" />
          </button>
        </div>
      </li>
      <li class="products__item">
        <h3 class="products__subtitle">milkshakes</h3>
        <div class="products__wrap">
          <p class="products__more" data-more-3>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugiat numquam
            repudiandae ex vero, nulla cupiditate eveniet delectus omnis ab esse inventore ratione
            similique perferendis eum ea consequatur vel! Deserunt sit doloremque quasi officiis
            magnam repellat laudantium tenetur voluptatum voluptatem!
          </p>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="products__btn" type="button" data-more-button-3>
            <img src="/images/arrow-right-40x40.png" width="40" height="40" alt="" />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
