.location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px 16px;
  max-width: 528px;
  min-width: 320px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffa5ba;
}

.location-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background: transparent;
  border: transparent;
  border-radius: 50%;
}

.address-list {
  display: flex;
  justify-content: space-around;

  margin-bottom: 25px;
}

.address-list__link {
  color: #d41443;
}

.address-list__link:hover,
.address-list__link:focus {
  text-shadow: 2px 2px 2px #ffffff, -2px -2px 2px #ffffff;
}

.location__description {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.license-form__agreement {
  text-decoration: none;
  color: #d41443;
}

.license-form__agreement:focus,
.license-form__agreement:hover {
  color: #ffffff;
}
