.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: rgba(255, 245, 246, 1);
}

.about__header {
  color: rgba(212, 20, 67, 1);
  font-size: 34px;
  text-align: center;
  font-weight: normal;
  font-family: Titan One, cursive;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.about__text {
  font-size: 12px;
  margin-bottom: 44px;
  font-weight: 500;
  line-height: 1.62;
  text-align: left;
  font-family: DM Sans;
}

.about__text--mod {
  font-size: 12px;
  color: rgba(144, 126, 130, 1);
  line-height: 1.62;
  text-align: left;
  font-family: DM Sans;
  font-weight: 500;
}



.about__link {
  color: rgba(212, 20, 67, 1);
  display: block;
  background-color: rgba(255, 255, 255, 1);
  font-family: DM Sans;
  padding: 14px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 25px;
  width: 176px;
  height: 44px;
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.about__title {
  font-size: 18px;
  color: rgba(255, 165, 186, 1);
  text-align: center;
  font-weight: normal;
  font-family: Titan One, cursive;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.about__link:hover {
  background-color: rgba(236, 235, 235, 1);
}

.flex-container {
  display: flex;
}

.about__text-wrap {
  margin-top: 16px;
}

.about {
  background-color: #fff5f6;
  text-align: center;
  background-image: url(/images/mobile/sectionbg11-320x133.png);
  background-size: 100%;
  background-position-y: 80%;
  background-repeat: no-repeat;
}

.about-header__img {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.02);
  }
}




@media screen and (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }

  .about-header__img {
    margin-bottom: 46px;
  }
}

@media screen and (min-width: 768px) {
  .about__text-container {
    margin-top: 56px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .about__title {
    font-size: 26px;
  }

  .about__header {
    font-size: 48px;
    margin-bottom: 50px;
  }

  .about__text {
    font-size: 14px;
    width: 340px;
    line-height: 1.76;
    margin-bottom: 35px;
  }

  .about__text--mod {
    font-size: 14px;
    width: 340px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }

  .about__link {
    font-size: 16px;
    margin-top: 62px;
  }

  .about {
    background-image: none;
    padding-bottom: 146px;
  }
   


}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 30px;
  }

  .about__header {
    font-size: 58px;
    margin-bottom: 55px;
  }

  .about__text {
    font-size: 16px;
    width: 463px;
    line-height: 28px;
    
  }

  .about__text--mod {
    font-size: 16px;
    width: 463px;
    line-height: 27px;
  }

  .about__text-container {
    margin-left: 74px;
  }

  .about__link {
    margin-top: 45px;
  }

  .about {
    background-image: url(/images/desktop/sectionbg11-1282x534.png);
    padding-bottom: 146px;
  }
  
  .about__text-wrap {
    margin-top: 40px;
  }
  
}
