<<<<<<< feature/gallery
=======
// .gallery-list__img {
//     width: 100%;
//     max-width: 364px;

// }

// .gallery {
//     background: linear-gradient(180deg, rgba(255,245,246,1) 40%, rgba(255,255,255,1) 40%);
// }

// @media screen and (min-width: 768px) {
//     .gallery-list__img {
//         max-width: 768px;
//     }
// }

// @media screen and (min-width: 1280px){
//     .gallery-list__img {
//         max-width: 1280px;
//     }

// }

// -----------------------------------------------------------

.gallery {
  background: linear-gradient(180deg, rgba(255, 245, 246, 1) 40%, rgba(255, 255, 255, 1) 40%);
}
.gallery-box {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 4px;
  @media screen and (min-width: 480px) {
    grid-gap: 8px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item {
  margin-left: auto;
  margin-right: auto;
}
.gallery__item:focus,
.gallery__item:hover {
  transform: scale(1.1);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
}
.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--7 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--8 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}

.gallery__item--9 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 8;
}

.gallery__item--10 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
}
>>>>>>> main
