header{
    position: absolute;
    width: 100%;
    top: 6px;
    min-width: 320px;
    font-family: $primary-font;

    .container{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .navigation-list__link--current{
        color: map-get($map: $text, $key: light-btn);
    }
}

.header__menu-btn{
    display: flex;
    margin-left: auto;
    border: none;
    background: transparent;
    padding: 0;
    outline: none;

    &:hover,
    &:focus{
        cursor: pointer;
    }
}

.mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background-color: map-get($map: $bgc, $key: menu);
    padding: 60px 0;
    transform: translateY(0) translateX(200%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .navigation-list{
        display: block;
        margin-left: 0;
        width: 100%;
        @include font(14px, 18px, 0, 700);
        .navigation-list__item{
            border-top: 1px solid map-get($map: $decor, $key: menu-line);
            padding: 11px 20px;
            &:not(:last-child){
                margin-right: 0;
            }
            &:last-child{
                border-bottom: 1px solid map-get($map: $decor, $key: menu-line);
            }
        }
    }
}

.navigation-list__item{
    padding: 11px 20px;
}

.navigation-list__link{
    color: map-get($map: $text, $key: light-txt);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: map-get($map: $action, $key: nav-item);
    }
}

.is-open {
    transform: translateY(0) translateX(-50%);
}

.mobile-menu__close-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 23px;
    right: 28px;
    width: 14px;
    height: 14px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__btn{
    border: none;
    width: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 22px;
    padding: 0;
    color: map-get($map: $text, $key: light-btn);
    @include font(16px, 21px, 0, 700);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        cursor: pointer;
        background-color: map-get($map: $action, $key: light-btn);
    }

    .menu-icon{
        margin-left: 12px;
    }

    .mobile-menu &{
        display: block;
        margin: 0 auto 20px;
    }
}


@media screen and (max-width: 767px) {
    .header__btn{
        display: none;
    }
}

@media screen and (min-width:768px) {

    header{
        top: 38px;
    }

    .header__btn{
        width: 160px;
        margin: 0 0 0 30px;
    }

    .mobile-menu{
        max-width: 254px;
        height: 100vh;
        left: initial;
        right: -100%;
        transform: unset;
        transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1);
        min-height: 390px;
    }

    .is-open{
        right: 0;
        transform: unset;
    }

}

@media screen and (max-width:1279px) {

    .navigation-list{
        display: none;
    }
}

@media screen and (min-width:1280px) {

    .navigation{
        display: flex;
        align-items: center;
    }

    .logo{
        position: relative;
        left: -70px;
    }

    .navigation-list{
        @include font(16px, 21px, 0, 700);
        display: flex;
        margin-left: 110px;
    }

    .navigation-list__item{
        padding: 0;

        &:not(:last-child){
            margin-right: 35px;
        }
    }

    .header__menu-btn{
        display: none;
    }

    .header__btn{
        margin-left: auto;
    }
}