.hero {
  background-color: #ffb8ca;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .hero__picture-girl,
  .hero__picture-milk,
  .hero__description,
  .hero__button-description,
  .hero__network-list,
  .hero__truck-list {
    display: none;
  }

  .hero .container {
    position: relative;
    padding-top: 83px;
    min-width: 320px;
    max-width: 480px;
    height: 502px;
  }

  .hero__title {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 48px;
    line-height: 0.96;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero__title-white {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .hero__picture-elipce {
    position: absolute;
    left: 36px;
    top: 83px;
    min-width: 346px;
    z-index: 1;
  }

  .hero {
    overflow: hidden;
  }

  .hero__picture-icecream {
    position: absolute;
    left: 117px;
    top: 92px;
    z-index: 2;
  }

  .hero__title,
  .hero__title-white,
  .hero__link-products,
  .hero__link-about {
    display: inline-block;
  }

  .hero__title,
  .hero__title-white {
    max-width: 218px;
  }

  .hero__mobile-wrapper {
    display: block;
    position: absolute;
    left: 20px;
    top: 193px;
    z-index: 5;
  }

  .hero__link-about,
  .hero__link-products {
    display: inline-block;
    margin-top: 19px;
  }

  .hero__list {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__list-item:last-child {
    margin-left: 8px;
  }

  .hero__link-products {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;

    min-width: 63px;
    height: 24px;

    background: #d41443;
    border-radius: 20px;
  }

  .hero__link-about {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #d41443;

    min-width: 83px;
    height: 24px;
    background: #fff;
    border-radius: 20px;
  }

  .hero__link-about:focus,
  .hero__link-about:hover {
    background-color: #ecebeb;
  }

  .hero__link-products:focus,
  .hero__link-products:hover {
    background-color: #c7133e;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    position: relative;
    height: 399px;
    padding-top: 94px;
    padding-bottom: 28px;
    outline: 2px solid green;
  }

  .hero__title {
    display: block;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 34px;
    line-height: 0.92;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero__title-white {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .hero__title,
  .hero__title-white {
    width: 162px;
  }

  .hero__mobile-wrapper {
    display: flex;
    flex-direction: column;
    //  position: absolute;

    // z-index: 5;
  }

  .hero__network-wrapper {
    display: flex;
    flex-direction: column;
  }

  .hero__main {
    display: flex;
    justify-content: space-between;
  }

  .hero__network-list {
    margin-bottom: 14px;
  }

  .hero__network-item {
    position: relative;
  }

  .hero__network-amount::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    top: -3px;
    right: -6px;
    border-radius: 20px;
    background-color: #fff;
  }

  .hero__truck-amount,
  .hero__network-amount {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }

  .hero__network-decription,
  .hero__food-decription {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
  }

  .hero__picture-elipce {
    position: absolute;
    left: 307px;
    top: 36px;
    //min-width: 307px;
    z-index: 1;
  }

  .hero__link-about,
  .hero__link-products {
    display: inline-block;
    margin-top: 19px;
  }

  .hero__list {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__list-item:last-child {
    margin-left: 8px;
  }

  .hero__link-products {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;

    min-width: 63px;
    height: 24px;

    background: #d41443;
    border-radius: 20px;
  }

  .hero__link-about {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #d41443;

    min-width: 83px;
    height: 24px;
    background: #fff;
    border-radius: 20px;
  }

  .hero__link-about:focus,
  .hero__link-about:hover {
    background-color: #ecebeb;
  }

  .hero__link-products:focus,
  .hero__link-products:hover {
    background-color: #c7133e;
  }

  .hero__picture-girl {
    position: absolute;
    right: 20px;
    bottom: 0;
    z-index: 3;
  }

  .hero__picture-icecream {
    position: absolute;
    right: 247px;
    bottom: 0;
    z-index: 2;
  }

  .hero__picture-milk {
    position: absolute;
    left: 20px;
    bottom: 28px;
    z-index: 2;
  }

  .hero__description {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    width: 114px;
  }
}
